<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
        </Console>
        <File name="FileAppender" fileName="app.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
        <!-- additivity = успадкованість (щоб не прописувати для консолі окремі виклики) -->
        <Logger name="myLogger" level="INFO"  additivity="true">
            <AppenderRef ref="FileAppender" />
        </Logger>
    </Loggers>
</Configuration>
